<div id="<%= dom_id user %>" class="container d-flex mt-4 mb-3 p-5  shadow-lg " style="background-color: #b8f0f5; border-radius: 20px;"">
  <div class="row w-100 gap-1 py-2 flex-between ">
    <div
      class="col col-lg-3 p-auto d-flex justify-content-center align-items-center ">
      <%= image_tag 'default-profile-picture.jpg', size: "300x250" %>
    </div>

    <div class="col col-lg-8 d-flex flex-column justify-content-between ">
      <div class="mb-3 fs-4 d-flex flex-column gap-2">
        <div class="mt-4 mb-2" >
          <strong>Username:</strong>
          <%= user.full_name %>
        </div>
        <div class="mb-2">
          <strong>Email:</strong>
          <%= user.email %>
        </div>
        <div class="mb-2">
          <strong>Account type:</strong>
          <%= user.user_type %>
        </div>
        <div class="mb-2">
          <strong>College name:</strong>
          <%= user.college_name %>
        </div>
      </div>
      <div class="d-flex justify-content-end">
        <div class="me-4 btn border-info bg-white">
          <strong class="text-info fw-bold bg-white">My Events:</strong>
          <span class="fw-bold"><%= 25 %></span>
        </div>
        <div class="me-4 btn border-info bg-white">
          <strong class="text-info fw-bold">Registered Events:</strong>
          <span class="fw-bold"><%= 23 %></span>
        </div>
      </div>
    </div>
  </div>
</div>
