<p  class="text-center fs-2 text-info"><%= notice %></p>

<%= render @event %>

<div class="mx-5 mt-3 mb-4" style="width: 93%; ">
  <div class="d-flex justify-content-between">
    <%= link_to "< Return", events_path,  class: "btn btn-outline-info text-success fw-bold px-4",  style:"color: white; text-decoration: none; border: solid 2px;" %> 
    <div class="d-flex gap-4">
      <% if current_user == @event.user %> 
        <%= button_to "Delete Event", @event, method: :delete, class: "btn btn-danger text-white fw-bold px-3 " %>
        <%= link_to "Edit Event", edit_event_path(@event), class: "btn btn-warning text-white fw-bold px-3 " %>
      <% end %>
    </div>
  </div>
</div>




