<div id="<%= dom_id flag %>">
  <p>
    <strong>Reason:</strong>
    <%= flag.reason %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= flag.description %>
  </p>

  <p>
    <strong>Flagged by:</strong>
    <%= flag.flagged_by %>
  </p>

  <p>
    <strong>Flagged at:</strong>
    <%= flag.flagged_at %>
  </p>

</div>
