<div id="<%= dom_id flag %>">
  <p>
    <strong>Reason:</strong>
    <%= flag.reason %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= flag.description %>
  </p>

  <p>
    <strong>Flagged at:</strong>
    <%= flag.flagged_at %>
  </p>

  <p>
    <strong>User:</strong>
    <%= flag.user_id %>
  </p>

  <p>
    <strong>Event:</strong>
    <%= flag.event_id %>
  </p>

</div>
