<p  class="text-center fs-2 text-info"><%= notice %></p>

<%= render @flag %>

<div>
  <%= link_to "Edit this flag", edit_flag_path(@flag) %> |
  <%= link_to "Back to flags", flags_path %>

  <%= button_to "Destroy this flag", @flag, method: :delete %>
</div>
